
<div class = "container mt-3">
    <div class="row text-center"><h1>Your finance manager</h1></div>
    <div class="row text-center">It will help you to manage finances</div>
    <div class="row">
        <%= image_tag("main.png", width:"100%", class:"rounded") %>
    </div>
<p>It will help you to manage finances</p>
</div>
