<div class="shadow-lg p-2 mb-1 bg-info rounded text-sec">
  <p>
    <strong class="text-dark">Name:</strong>
    <span class="text-light", style="font-weight: bold;"><%= category.name %></span>
  </p>
  <p>
    <strong class="text-dark">Descripton:</strong>
    <span class="text-light", style="font-weight: bold;"><%= category.description %></span>
  </p>
</div>
