<h1 class="text-center", style = "text-shadow: 3px 3px #D3D3D3;">Categories</h1>
<div class="col-4", style="margin-left: 570px;">
  <div class="card">
    <div id="categories">
    <% @categories.each do |category| %>
      <div>
        <%= render category %>
      </div>
      <div class="text-center">
      <p>
        <%= link_to "Show this category", category, class:"btn btn-light text-info border border-secondary" , style:"font-weight: bold;"%>
      </p>
      </div>
    <% end %>
    </div>
  </div>
</div>
