<div class="text-center">
  <h1>New transaction</h1>

  <%= render "form", transaction: @transaction %>

  <br>

  <div>
    <%= link_to "Back to transactions", transactions_path, class:"btn btn-light text-info border border-secondary" , style:"font-weight: bold;" %>
  </div>
</div>
