<% if @categories.nil? or @categories.empty?%>
  <h1>You have to fill the form correctly</h1>
<% else %>
<table class="table rounded m-3">
  <thead class="bg-info">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody class="table-info">
    <tr>
>>>>>>> add-bootstrap
      <% @categories.each do |name, amount|%>
      <tr>
        <td><%= name %></td>
        <td><%= amount %></td>
      </tr>
      <%end%>
    </tr>

  </tbody>
  <tfoot class="table-secondary">
    <tr>
      <td>Total sum:</td>
      <td><%= @total_sum %></td>
    </tr>
  </tfoot>
</table>

<%end%>
<%= button_to "Back to reports", reports_index_path, method: :get, class:"btn btn-light border border-info border-3" %>

