<% if @categories.nil? or @categories.empty?%>
  <h1>You have to fill the form correctly</h1>
<% else %>
<div style = "margin: 40px 800px 80px 100px;">
<table class="table table-bordered table-striped">
  <thead class="bg-info">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody class="table-info">
    <tr>
      <% @categories.each do |name, amount|%>
      <tr>
        <td><%= name %></td>
        <td><%= amount %></td>
      </tr>
      <%end%>
    </tr>

  </tbody>
  <tfoot class="table-secondary">
    <tr>
      <td>Total sum:</td>
      <td><%= @total_sum %></td>
    </tr>
  </tfoot>
</table>
</div>
<%end%>

